<p id="notice"><%= notice %></p>

<h1>Images</h1>

<div class="image-list">
  <% @images.each do |image| %>
    <a href="<%= image_path(image) %>"><img src="<%= image.url %>" alt="<%= image.url %>"></a>
    <%#= link_to 'Show', image %>
    <%#= link_to 'Edit', edit_image_path(image) %>
    <%#= link_to 'Destroy', image, method: :delete, data: {confirm: 'Are you sure?'} %>
  <% end %>
</div>

<br>

<%= link_to 'New Image', new_image_path %>
